ul(class="eventlist")
  for event in events
    li(class="event" id="event-#{event.id}")
      .image-thumbnail.pull-left
        img(src='#{event.image}')
      div(class="event-info pull-right")
        h4
          strong #{event.title}
        em
          time(datetime="#{event.date}") #{moment(event.date).format("dddd, MMMM D, YYYY @ h:mm a")}
        .clearfix
        .pull-left
          span #{event.attending.length} attending
          br
        .clearfix
        .links.pull-right
          a(class="event-link" href="/events/#{event.id}") Click here for more details
          br 
          form.delete-event(action="/events/#{event.id}/removeEvent" method="POST") 
            button 
              em 
                a Delete Event
          
      //- div(class="event-attending")
      br(clear="both")

// Load the Content Experiment JavaScript API client for the experiment
script(src='//www.google-analytics.com/cx/api.js?experiment=zACIABVzR2itZEHP5hO0fQ')
// Load the JQuery library
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
script.
  // Define JavaScript for each page variation of this experiment.
  var pageVariations = [
  function() {},  
  function() {    
  $(".event-link").append(" and to RSVP");
  }
  ];
  // Wait for the DOM to load, then execute the view for the chosen variation.
  $(document).ready(function(){
  // Ask Google Analytics which variation to show the user.
  var chosenVariation = cxApi.chooseVariation();
  // Execute the chosen view
  pageVariations[chosenVariation]();
  }
  );
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-70408363-1', 'auto');
  ga('send', 'pageview');
